<div class="container-fluid container-modified container">

  
    <div class="row ">
      <div class="col-sm-12 col-md-6 float-left d-inline-block dos">
        <div class="form-group row">
   
            <h1>Registro de comercio</h1>
    

        </div>
      </div>
    </div>
  
  
    <div class="row ">
      <div class="col-12 float-left d-inline-block dos">
        <div class="form-group row">

          <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
            <label class="col-4 col-form-label pl-2  al"
              > Nit:
            </label>
            <div class="col-7 float-right">
              <input
                class="form-control input-modified"
                type="text"
                name="nit"
                [(ngModel)]="commercemodel.nit"
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
            <label class="col-4 col-form-label pl-2  al"
              > Nombre:
            </label>
            <div class="col-7 float-right">
              <input
                class="form-control input-modified"
                type="text"
                name="name"
                [(ngModel)]="commercemodel.name"
            />
          </div>
        </div>                  

            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Teléfono:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="phone"
                    [(ngModel)]="commercemodel.phone"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Email:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="email"
                    [(ngModel)]="commercemodel.email"
                 />
               </div>
             </div>

             <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
              <label class="col-4 col-form-label pl-2  al"
                > Facebook:
              </label>
              <div class="col-7 float-right">
                <input
                  class="form-control input-modified"
                  type="text"
                  name="social_facebook"
                  [(ngModel)]="commercemodel.social_facebook"
                />
              </div>
            </div>  
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
              <label class="col-4 col-form-label pl-2  al"
                > Instagram:
              </label>
              <div class="col-7 float-right">
                <input
                  class="form-control input-modified"
                  type="text"
                  name="social_instagram"
                  [(ngModel)]="commercemodel.social_instagram"
                />
              </div>
            </div>  
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
              <label class="col-4 col-form-label pl-2  al"
                > Twitter:
              </label>
              <div class="col-7 float-right">
                <input
                  class="form-control input-modified"
                  type="text"
                  name="social_twitter"
                  [(ngModel)]="commercemodel.social_twitter"
                />
              </div>
            </div>  
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
              <label class="col-4 col-form-label pl-2  al"
                > Tik tok:
              </label>
              <div class="col-7 float-right">
                <input
                  class="form-control input-modified"
                  type="text"
                  name="social_tiktok"
                  [(ngModel)]="commercemodel.social_tiktok"
                />
              </div>
            </div> 

            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Clase de comercio:
                </label>
                <div class="col-7 float-right">
                  <select
                    class="form-control input-modified"
                    type="text"
                    name="id_class_commerce"
                    [(ngModel)]="commercemodel.id_class_commerce"
                 ><option *ngFor="let row of rows2" value="{{row.id_class_commerce}}">{{ row.class_commerce }}</option>
              
                 </select>
               </div>
             </div>

            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Dirección:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="address"
                    [(ngModel)]="commercemodel.address"
                   />
                 </div>
               </div>
           
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Pais:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="country"
                    [(ngModel)]="commercemodel.country"
                   />
                 </div>
               </div>
           
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Departamento:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="department"
                    [(ngModel)]="commercemodel.department"
                   />
                 </div>
               </div>
           
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Ciudad:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="city"
                    [(ngModel)]="commercemodel.city"
                    />
                  </div>
                </div>
            
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Barrio:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="neighborhood"
                    [(ngModel)]="commercemodel.neighborhood"
                   />
                 </div>
               </div>
           
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Manzana:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="apple"
                    [(ngModel)]="commercemodel.apple"
                    />
                  </div>
                </div>
            
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Descripción:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="description"
                    [(ngModel)]="commercemodel.description"
                   />
                 </div>
               </div>
           

               <!--
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Servicio:
                </label>
                <div class="col-7 pl-2 float-right">
                  <select
                    class="form-control pl-2  input-modified"
                    type="text"
                    name=""
                    [(ngModel)]="commercemodel.id_service"
                   > 
                   <option *ngFor="let row of rows" value="{{row.id_service}}">{{ row.services }}</option>
                  </select>
                  </div>
               </div>
               ------>

           
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Estado:
                </label>
                <div class="col-7 float-right">
                  <select
                    class="form-control input-modified"
                    type="text"
                    name="id_state_commerce"
                    [(ngModel)]="commercemodel.id_state_commerce"
                    >
                    <option *ngFor="let row of rows3" value="{{row.id_state_commerce}}">{{ row.state_commerce }}</option>
                    </select>
                  </div>
                </div>
            
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Tipo comunicación:
                </label>
                <div class="col-7 float-right">
                  <select
                    class="form-control input-modified"
                    type="text"
                    name="id_type_comunication"
                    [(ngModel)]="commercemodel.id_type_comunication"
                  >
                  <option *ngFor="let row of rows4" value="{{row.id_type_comunication}}">{{ row.type_communication }}</option>
                  </select>
                </div>
              </div>
              <!--
              <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Tipo de contenido:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="id_type_content_commerce"
                    [(ngModel)]="commercemodel.id_type_content_commerce"
                   />
                 </div>
               </div>   
              -->

               <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Horario atención:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="hours"
                    [(ngModel)]="commercemodel.hours"
                   />
                 </div>
               </div>   
               
               
            <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
              <label class="col-4 col-form-label pl-2  al"
              > ¿Tiene domicilio?:
              </label>
              <div class="col-7 float-right">
                <select
                  class="form-control input-modified"
                  type="text"
                  name="delivery"
                  [(ngModel)]="commercemodel.delivery"
                >
                <option value="1">Si</option>
                <option value="0">No</option>
                </select>
              </div>
            </div>


               <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Latitud:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="form-control input-modified"
                    type="text"
                    name="lat"
                    [(ngModel)]="commercemodel.lat"
                    placeholder="{{commercemodel.lat}}"
                   />
                 </div>
               </div>   
               
               <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                   <label class="col-4 col-form-label pl-2  al"
                     > Longitud:
                   </label>
                   <div class="col-7 float-right">
                     <input
                       class="form-control input-modified"
                       type="text"
                       name="log"
                       [(ngModel)]="commercemodel.long"
                       placeholder="{{commercemodel.long}}"
                      />
                    </div>
                  </div>   
                

               <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
                <label class="col-4 col-form-label pl-2  al"
                  > Subir imagenes del establecimiento:
                </label>
                <div class="col-7 float-right">
                  <input
                    class="input-modified"
                    type="file"
                    name="img"
                    (change)="onFileChange($event)" 
                    multiple="false"
                   />
                 </div>
               </div>  

           
        </div>
      </div>
        <div class="row ">
          <div class="col-11 float-left d-inline-block dos">
            <div class="form-group row">
    

          <button
          type="button" class="btn btn-danger pl-4 pr-4 btn-sm ml-5 d-inline-block"
           (click)="submit()"> <i class="fa fa-folder"></i>
          Enviar
        </button>

        </div>
      </div> 

      </div>
    </div>
</div>
  